<section id="hero" class="min-w-screen h-[80vh] md:h-[calc(100vh_-_6rem)] relative flex flex-col items-center justify-center gap-8">
    <img 
        alt="Imagen de fondo"
        src="/fondo-inicio.png"
        class="h-full w-full object-cover object-center absolute top-0 left-0"
    />
    <img
        alt="Logo TDLR"
        src="/logo-lg.png"
        class="max-w-xs sm:max-w-2xl md:max-w-5xl w-min z-10"
    />

    <h1 class="z-10 text-lg md:text-3xl text-white tracking-widest uppercase font-semibold">Servicios jurídicos</h1>
</section>