<section class="min-w-screen h-[calc(100vh_-_4rem)] md:h-[calc(100vh_-_6rem)] relative flex flex-col items-center justify-center">
    <img 
        alt="Imagen de fondo"
        src="/fondo-inicio.png"
        class="h-full w-full object-cover object-center absolute top-0 left-0"
    />
    <img
        alt="Logo TDLR"
        src="/logo-lg.png"
        class="max-w-2xl md:max-w-5xl w-min z-10"
    />
</section>