---
import HeadshotCarousel from "./headshot_carousel.astro";
---

<section id="nosotros" class="py-10 flex flex-col gap-5">
    <h2 class="text-4xl font-bold uppercase tracking-wider text-center mb-5 underline underline-offset-4 decoration-tejeda-accent">Nosotros</h2>
    <div class="flex flex-col justify-center items-center gap-5">
        <p class="text-center sm:w-2/3 md:w-1/2">TR es una firma originaria de Guadalajara, Jalisco, que ofrece asesoría jurídica a través de servicios legales sofisticados de alta especialidad y calidad, brindando una atención personalizada y puntual tanto a clientes nacionales como extranjeros.</p>
        <p class="text-center sm:w-2/3 md:w-1/2">TR está comprometida con sus clientes y con el desarrollo de sus objetivos implementando estrategias y soluciones integrales, ideales para capitalizar oportunidades de una manera honesta, confidencial e innovando en la prestación de servicios jurídicos.</p>
    </div>
    <HeadshotCarousel />
</section>