---
import Services from "./services";
---

<section id="servicios" class="flex flex-col gap-5 w-full min-h-[80vh] relative sm:py-10 sm:px-20">
    <h2
        class="z-10 text-4xl text-white font-bold uppercase tracking-wider text-center mb-5 underline underline-offset-4 decoration-tejeda-accent"
    >
        Servicios
    </h2>

    <img
        class="h-full w-full absolute object-cover object-center top-0 left-0"
        src="/fondo-servicios.png"
        alt="Fondo servicios"
    />

    <div class="z-10 w-full h-full">
        <Services client:visible />
    </div>
</section>
