<section id="valor" class="py-10">
    <h2 class="text-5xl font-semibold text-tejeda-secondary uppercase tracking-wider text-center mb-5 underline underline-offset-4 decoration-tejeda-accent">OTRA SECCIÓN</h2>
</section>